<mat-sidenav-container>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="row">
      <span>Angular</span>
      <mat-slide-toggle (change)="onDarkModeSwitched($event)" [checked]="isDarkMode"></mat-slide-toggle>
    </mat-toolbar-row>
  </mat-toolbar>

  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label | uppercase}}
    </a>
  </nav>

  <main class="content" cdkDropListGroup>
    <router-outlet></router-outlet>
  </main>
</mat-sidenav-container>
